/*Below styling classes style the "blobs", aesthetic SVG elements
    A new CSS file stores these elements to keep styling easily-readable and modular*/
.blob1 {
    position: absolute;
    width: 200px;
    height: 200px;

    /*Defining the animations that will apply to the blob*/
    animation-name: float;
    animation-duration: 70s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; /*blobs slowly move in a defined track forever to give a sense of motion*/
  }
  
  /*defines the movement of the blob across the page*/
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(300px, 200px);
    }
    100% {
      transform: translate(0, 0);
    }
  }


  /*Same process for the second blob, but with a new animation keyframe to specify it's different movement track*/
  .blob2 {
    position: absolute;
    top: 600px;
    left: -600px;
    width: 200px;
    height: 400px;

    animation-name: float1;
    animation-duration: 50s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes float1 {
    0% {
      transform: translate(300, 0);
    }
    50% {
      transform: translate(-100px, 50px);
    }
    100% {
      transform: translate(100, 150);
    }
  }

  /*Same process for the third blob, but with a new animation keyframe to specify it's different movement track*/

  .blob3 {
    position: absolute;
    top: 300px;
    left: -1100px;
    width: 300px;
    height: 400px;
    
    animation-name: float2;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

.JoinVideoCall {
  background: #5E5DF0;
  border-radius: 20px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  word-break: break-word;
  border: 0;
  margin: 10px;
  display: inline;
  margin-left: auto;
  position: relative;
  left: 1080px;
  top: 120px;
}
  
  @keyframes float2 {
    0% {
      transform: translate(300, 0);
    }
    50% {
      transform: translate(-100px, 50px);
    }
    100% {
      transform: translate(100, 150);
    }
  }


