/*This file contains all the styling markdown necessary for the chat page, including the chatroom*/

/*General styling for the page's basic elements*/
#chat
{
    position: absolute;
    left: -70%;
    top: 25%;
    border-radius: 20px;

    /*Defining the animation that occurs when the chatroom is navigated-to*/
    animation: fadeIn ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}



/*Styling for the chatroom's elements*/
.app > .screen
{
    display: none;
}

.app > .screen.active
{
    display: block;
    width: 100%;
    height: 49.8%;
}

#position-chatroom
{
    position: absolute;
}

.screen .form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
}

.screen .form-input
{
    width: 100%;
    margin: 20px 0px;
    border-radius: 20px;

}


/*Styling for the chatroom's header*/

.screen h2
{
    margin-bottom: 20px;
    font-size: 30px;
    color: #EDE7F6;
    padding: 5px 0px;
    display: inline-block;
    border-radius: 20px;
}

/*Styling for the chatroom's input*/
.screen .form-input label
{
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 80px;
}
.screen .form-input input
{
    width: 100%;
    position: relative;
    top: 80px;
    padding: 10px;
    border: 1px solid #006064;
    font-size: 16px;
}


/*Styling for the chatroom's input button*/
.screen .form-input button
{
    padding: 10px 20px;
    background: #111;
    color: #EDE7F6;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    top: 120px;
    border-radius: 20px;


}

.chat-screen .header
{
    background: #7E57C2;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    position: relative;
    border-radius: 40px;


}

.join-screen .header .logo
{
    background: #7E57C2;
    position: relative;
    height: 60px;
    top: -15px;
    width: 161%;
    left: -38%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    font-size: 18px;
    color: #EDE7F6;
    font-weight: 600;
    border-radius: 30px;

}

.chat-screen .header .logo
{
    font-size: 19px;
    color: #eee;
    font-weight: 600;
    position: relative;
    align-content: center;
    top: 2px;
    left: 0px;
}

/*Styling for the messages that are displayed*/
.chat-screen .messages
{
    width: 100%;
    height: calc(197% - 105px);
    background: #EDE7F6;
    overflow: auto;
}

.chat-screen .messages .message
{
    display: flex;
    padding: 10px;
}

.chat-screen .messages .message > div
{
    max-width: 50%;
    width: auto;
    background: #59c6ea;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.05);
    padding: 10px;
    border-radius: 20px;
}

.chat-screen .messages .message.my-message
{
    justify-content: flex-end;
    color: white;
}

.chat-screen .messages .message.other-message
{
    justify-content: flex-start;
    color: white;
}

.chat-screen .messages .messages .name
{
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
    border-radius: 20px;

}

.chat-screen .messages .message .text
{
    word-wrap: break-word;
}

.chat-screen .messages .update
{
    text-align: center;
    padding: 10px;
    font-style: italic;
    border-radius: 20px;

}



/*Styling for the chatroom's typebox, where text is input by the user*/
.chat-screen .typebox
{
    width: 95%;
    position: relative;
    top: 0px;
    left: 16px;
    height: 50px;
    display: flex;
}

.chat-screen .typebox input
{
    flex: 1;
    height: 20.5px;
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
}

.chat-screen .typebox button
{
    width: 80px;
    height: 108%;
    background: #3F51B5;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


/*Styling for the chatroom's messages being displayed*/
.msg-img
{
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
}

.msg-row2
{
    justify-content: flex-end;
}


/*Styling for the chatroom list being displayed*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.chat-list
{
    float: left;
    position: fixed;
    left: 100px;
    top: 250px;
    width: 250px;
    padding: 10px;
    height: 484px;
    background-color: white;
    margin-right: 30px;
    border-radius: 20px;

}

/*.chat-list:hover{*/
/*    transform: translate(0px,-10px);*/
/*    transition: all 0.25s ease-in-out;*/
/*    box-shadow: 5px 5px 5px #999;*/
/*}*/



.chat-list-title
{
    background: #3F51B5;
    position: relative;
    height: 50px;
    top: -2.2%;
    width: 84.01%;
    left: -4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    font-size: 18px;
    color: #eee;
    font-weight: 600;
    border-radius: 20px;

}

.join-room-button
{
    position: relative;
    top: 80%;
    left: 5%;
    font-weight: 600;
    font-size: 19px;
    height: 5px;
    border-radius: 20px;

}

/*.join-room-button:hover{*/
/*    transform: translate(0px,-10px);*/
/*    transition: all 0.25s ease-in-out;*/

/*}*/

#add-room
{
    background-color: #3F51B5;
    border: 1px;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;

}

#log img {
    max-width: 100%;
    max-height: 100%;
}
