/*This file contains all CSS that covers the about page, split in this way for better code modularity*/

#about
{
    position: absolute;
    top: 15%;
    left: -80%;
    color: white;

    animation: fadeIn ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

    @keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }


.about-card {
    position: relative;
  }
  
  .Andres.about-card:hover{
    transform: translate(0px,-10px);
    transition: all 0.25s ease-in-out;
    box-shadow: 5px 5px 5px #999;
  }

  .Dennis.about-card:hover{
    transform: translate(0px,-10px);
    transition: all 0.25s ease-in-out;
    box-shadow: 5px 5px 5px #999;
  }

  .James.about-card:hover{
    transform: translate(0px,-10px);
    transition: all 0.25s ease-in-out;
    box-shadow: 5px 5px 5px #999;
    }

.fade{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade.active {
    opacity: 1;
}


.infoCard:hover{
    transform: translate(0px,-10px);
    transition: all 0.25s ease-in-out;
}

/*The individual info cards for each team member*/


.Andres{
    float: left;
    width: 250px;
    padding: 10px;
    height: 600px;
    background-color: #B39DDB;
    margin-right: 30px;
    border-radius: 20px;
}

.Dennis{
    float: left;
    width: 250px;
    padding: 10px;
    height: 600px;
    background-color: #9FA8DA;
    margin-right: 30px;
    border-radius: 20px;

}

.James{
    float: left;
    width: 250px;
    padding: 10px;
    height: 600px;
    background-color: #90CAF9;
    border-radius: 20px;

}
